/* Basic styles for Pi app */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: rgb(30, 30, 30);
}

.top_container {
    height: 25vh;
    width: 100vw;
    background-color: rgb(15, 15, 15);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom_container {
    height: 75vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 20px;
}

.score {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}

#score {
    margin-right: 2rem;
}

