<!DOCTYPE html>
<html lang="en">
   <head>
        <title>Pi</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <main>
            <div class="top_container">
                <div class="logo">
                    <img src="/static/images/pi_symbol.png" alt="Pi Symbol" width="100" height="100">
                </div>
                <div class="content">
                    <p style="font-size: larger; text-align: center;">Pi is a mathematical constant that represents the ratio of a circle's circumference to its diameter.</p>
                </div>
            </div>
            <div class="bottom_container">
                <div class="score">
                    <p id = "score">0</p>
                    <p id = "time">0:00</p>
                </div>
                <div class = "input-container">
                    <textarea id="input" class="input" autofocus></textarea>
            </div>
        </main>
        <script>

        </script>
    </body>
</html>